body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#0f172a,#1e293b,#020617);
    color:white;
    text-align:center;
    overflow-x:hidden;
}

.pantalla-inicio {
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

button {
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    background: linear-gradient(45deg,#ef4444,#22c55e,#3b82f6);
    color:white;
    transition:0.3s;
}

button:hover {
    transform:scale(1.1);
}

.oculto {
    display:none;
}

.contenido {
    padding:30px;
}

.sub {
    opacity:.8;
    margin-bottom:20px;
}

.galeria {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:14px;
    max-width:700px;
    margin:auto;
}

.galeria img {
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:14px;
    transition:0.4s;
}

.galeria img:hover {
    transform:scale(1.08);
    box-shadow:0 0 20px #f43f5e;
}

.carta {
    max-width:600px;
    margin:40px auto;
    background:rgba(255,255,255,.08);
    padding:25px;
    border-radius:16px;
    backdrop-filter: blur(6px);
}

canvas {
    position:fixed;
    top:0;
    left:0;
    pointer-events:none;
}
